<div class="row">
  <div class="col-11"><h5 class="modal-title" id="kataModalLabel">Transformer un nombre</h5></div>
  <div class="col-1"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
</div>
<div class="modal-body">
  <form (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="numberInput" class="form-label">Entrez un nombre (0-100)</label>
      <input type="number" id="numberInput" class="form-control" [(ngModel)]="number" name="number" required min="0"
        max="100" />
        @if (numberError) {
          <div class="text-danger">Le nombre doit être entre 0 et 100.</div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Transformer</button>
  </form>
</div>
@if (apiResult) {
  <div class="alert alert-success mt-3">
    Résultat : {{ apiResult }}
  </div>
}

@if (apiError) {
  <div class="alert alert-danger mt-3">
    Une erreur est survenue : {{ apiError }}
  </div>
}
